<h1> Show Info <%= @employee.first_name %></h1>

<ul>    
    <li><strong>Job title: </strong><%= @employee.title %></li>
    <li><strong>Alias: </strong><%= @employee.alias %></li>
    <li><strong>Office: </strong><%= @employee.office %></li>
</ul>